@{
    Layout = "_Base";
}

<section class="seccion-pagina">
    <div class="container">
        <div class="row text-center align-items-center justify-content-center vh-100">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <p class="h3 mb-7 mb-lg-9">Lo sentimos!</p>
                <p class="h3 mb-7 mb-lg-9">Ocurrio un error inesperado.</p>

                <div>
                    <a href="@Url.Content("~/Evento/Index")" class="btn btn-primary text-uppercase">Ir a Index</a>
                </div>
            </div>
        </div>
    </div>
</section>
