@using Microsoft.AspNetCore.Http;
@using PW3.TPFinal.Web.Extensiones;

@{
    Layout = "_Base";
}

@if (Context.Session?.EsComensal() ?? false)
{
    <partial name="/Views/Shared/Comensal/_Comensal_NavBar.cshtml" />
}
else if (Context.Session?.EsCocinero() ?? false)
{
    <partial name="/Views/Shared/Cocinero/_Cocinero_NavBar.cshtml" />
}
else
{
    <partial name="_Anonimo_NavBar.cshtml" />
}

<main role="main">
    @RenderBody()
</main>

@section Scripts {
    @await RenderSectionAsync("PageScripts", required: false)
}