@using PW3.TPFinal.Comun.Modelos;

@{
    Layout = "Comensal/_Comensal";
    ViewData["Title"] = "Comentarioas";
}
<section class="py-10">
    <div class="container">
        <h1 class="text-uppercase font-weight-bold">COMENTARIOS</h1>

    </div>
</section>
