@using PW3.TPFinal.Repositorio.Data
@model List<Evento> 

@{
    Layout = "Comensal/_Comensal";
    ViewData["Title"] = "Reservas";
}
<section class="py-10">
    <div class="container">
        <h1 class="text-uppercase font-weight-bold">RESERVAS</h1>

        @foreach (Evento e in Model)
        {
            <p>Nombre Evento: @e.Nombre</p>
            <p>Estado: @e.Estado</p>
            <p>Fecha: @e.Fecha</p>
        }


    </div>
</section>
