@using PW3.TPFinal.Negocio.Modelos.Data;
@using PW3.TPFinal.Comun.Enums
@model List<ReservaModel>

@{
    Layout = "Comensal/_Comensal";
    ViewData["Title"] = "Reservas";
}
<section class="seccion-pagina bg-smoke py-10">
    <div class="container">

        <h1 class="text-uppercase font-weight-bold">RESERVAS</h1>

        <partial name="/Views/Shared/_Message_Bar.cshtml" />

        @if (Model.Count == 0)
        {
            <div class="alert alert-danger d-flex align-items-center fade show mb-0" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="danger:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                <div>
                    Lo siento! No encontramos ninguna reserva que hayas hecho ultimamente!.
                </div>
            </div>
        }

        <div class="row">
            @foreach (ReservaModel reserva in Model)
            {
                {
                    string str = "Pendiente";
                    string color = "bg-black";
                    if (reserva.EventoEstado == EstadoDeEvento.Finalizado)
                    {
                        str = "Finalizado";
                        color = "bg-black";
                    }
                    else if (reserva.EventoEstado == EstadoDeEvento.Cancelado)
                    {
                        str = "Cancelado";
                        color = "bg-gray-color";
                    }

                    <div class="col-lg-4 mb-2">
                        <div class="card">
                            <div class="card-header @color text-white h-50 text-center">
                                 @reserva.EventoNombre
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <span>
                                        Estado: @str
                                    </span>
                                </p>
                                <p class="card-text"><span>Fecha: @reserva.FechaCreacion</span> </p>

                                @if (reserva.PuedeComentar)
                                {
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-xs" onclick="abrirCalificarModal(@reserva.IdEvento)">COMENTAR</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

<div class="modal fade mb-8" id="calificarModal" tabindex="-1" role="dialog" aria-labelledby="calificarModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Califiar Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Comentar" asp-controller="Comensal" method="post" class="mt-5">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 id="nombreEvento"></h3>
                            <input type="number" id="IdEvento" name="IdEvento" hidden class="form-control border-0 bg-smoke">

                            <div class="form-group">
                                <label for="Calificacion">Calificacion</label>
                                <select for="Calificacion" name="Calificacion" class="form-control border-0 bg-smoke form-select">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <span for="Calificacion" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="Comentario">Comentario</label>
                                <textarea for="Comentario" name="Comentario" class="form-control border-0 bg-smoke"></textarea>
                                <span for="Comentario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="text-center text-md-start text-lg-left">
                            <button type="submit" class="btn btn-primary text-uppercase">
                                GUARDAR
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts {
    <script type="text/javascript" src="@Url.Content("~/js/paginas/misReservas.js")"></script>
}