@using PW3.TPFinal.Negocio.Modelos;

@{
    Layout = "Cocinero/_Cocinero";
    ViewData["Title"] = "Cancelacion";
}
<section class="py-10">
    <div class="container">
        <h1 class="text-uppercase font-weight-bold">CANCELACION</h1>

    </div>
</section>
