@using PW3.TPFinal.Comun.Modelos;

@{
    Layout = "Cocinero/_Cocinero";
    ViewData["Title"] = "Eventos";
}
<section class="py-10">
    <div class="container">
        <h1 class="text-uppercase font-weight-bold">EVENTOS</h1>

    </div>
</section>
