@using Microsoft.AspNetCore.Http;
@using PW3.TPFinal.Web.Extensiones;

<header class="header" id="pageTop">
    <!-- Menu Zord -->
    <nav class="nav-menuzord navbar-sticky">
        <div class="container clearfix">
            <div id="menuzord" class="menuzord">
                <a href="@Url.Content("~/Evento/Index")" class="menuzord-brand">
                    <img src="@Url.Content("~/assets/logo/logo.png")" class="tp-logo" alt="logo-img">
                </a>
                <ul class="menuzord-menu menuzord-right">
                    <li>
                        <a asp-controller="Cocinero" asp-action="Perfil">PERFIL</a>
                    </li>
                    <li>
                        <a asp-controller="Cocinero" asp-action="Recetas">RECETAS</a>
                    </li>
                    <li>
                        <a asp-controller="Cocinero" asp-action="Eventos">EVENTOS</a>
                    </li>
                    <li>
                        <a asp-controller="Cocinero" asp-action="Cancelacion">CANCELACION</a>
                    </li>
                    <li>
                        <a asp-controller="Usuario" asp-action="Salir">SALIR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>