@{
    Layout = "_Base";
}

<partial name="_Cocinero_NavBar.cshtml" />

<main role="main">
    @RenderBody()
</main>

@section Scripts {
    @await RenderSectionAsync("PageScripts", required: false)
}