<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PW3.TPFinal.Web</title>
    
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700' rel='stylesheet'>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/template/img/favicon.png")" />

    @* NUESTRO CSS *@ 
    <link rel="stylesheet" href="@Url.Content("~/css/bundle.css")" />
</head>
<body>
    @RenderBody()

    <partial name="_Footer.cshtml" />  

    <script src="~/js/bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
