<footer class="footer">
    <div class="footer-bg-color py-9">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-7 mb-lg-0">
                    <a class="d-inline-block" href="/Evento/Index">
                        <img class="w-100 mb-6 tp-logo" src="@Url.Content("~/assets/logo/logo.png")" alt="img">
                    </a>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
                </div>

                <div class="col-md-6 col-lg-3 mt-md-4 mb-7 mb-lg-0">
                    <div class="title-tag">
                        <h6>CONTACTENOS</h6>
                    </div>
              
                    <ul class="list-unstyled mb-0">
                        <li class="media mb-2">
                            <div class="me-3">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <a href="#">Florencio Varela 1903 (B1754JEC)</a>
                            </div>
                        </li>
                        <li class="media mb-2">
                            <div class="me-3">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <a href="#">San Justo, Buenos Aires, Argentina</a>
                            </div>
                        </li>

                        <li class="media mb-2">
                            <div class="me-3">
                                <i class="fas fa-phone-alt" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <a href="tel:(+5411) 4480-8900">(+5411) 4480-8900</a>
                            </div>
                        </li>

                        <li class="media">
                            <div class="me-3">
                                <i class="far fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <a href="mailTo:info@star-travel.com">info@star-travel.com</a>
                            </div>
                        </li>
                    </ul>
                </div>             

                <div class="col-md-6 col-lg-3 mt-lg-4">
                    <div class="title-tag">
                        <h6>NUESTRAS REDES</h6>
                    </div>

                    <ul class="list-inline d-flex mb-0">
                        <li class="me-3 me-lg-2 me-xl-3">
                            <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                <i class="fab fa-facebook-f text-white" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li class="me-3 me-lg-2 me-xl-3">
                            <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                <i class="fab fa-twitter text-white" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li class="me-3 me-lg-2 me-xl-3">
                            <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                <i class="fab fa-google-plus-g text-white" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li class="me-3 me-lg-2 me-xl-3">
                            <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                <i class="fab fa-pinterest-p text-white" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li class="">
                            <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                <i class="fab fa-vimeo-v text-white" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>      
</footer>